body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
}

#canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.version-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: #dcdcdc;
  font-size: 16px;
}

/* TweakPane */
#tweak-pane {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

#tweak-pane > * {
  font-size: 12px;
}
